<%- include('../common/header') %>
<div id="planet_page">
    <div class="canvas-container">
        <%- include('./main') %>
        <%- include('./map') %>
        <%- include('./character') %>
        <%- include('./message') %>
    </div>
</div>
<%- include('../common/footer') %>